*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    width: 80%;
    margin: 0 auto;
}

header{
    text-align: center;
    padding: 20px;
    color: palevioletred;
}

p{
    margin-bottom: 50px;
}

img{
    width: 80px;
    height: 80px;
    float: left;
}

.row .col{
    float: left;
    width: calc(100%/3);
    padding: 10px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container-photo{
    color: white;
}

.card{
    background-color: black;
}

.card::after{
    content: "";
    display: table;
    clear: both;

}
.text{
float: right;
width: calc(100% - 100px);
padding: 10px;
}

.card div{
    font-size: 13px;
}

a{
    color: aqua;
}

strong{
    text-transform: uppercase;
    
}